@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #0d0d0d;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;

    --btn-background: #151515;
  }

  .dark {
    --background: #0d0d0d;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;

    --btn-background: #151515;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.custom-button {
  border-radius: 30px;
  padding: 15px 32px;
  position: relative;
  cursor: pointer;
  border-left: 1px solid rgba(168, 239, 255, 0.3);
  border-right: 1px solid rgba(168, 239, 255, 0.3);
  overflow: hidden;
  display: flex;
  align-items: center;
}

.custom-button__left {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  position: absolute;
  width: 0%;
  height: 100%;
  left: 0;
  opacity: 0;
  border-width: 1px;
  border-style: solid;
  border-right: none;
  border-color: #fff;
  animation-name: hover_animation_out_left;
  animation-duration: 0.7s;
}

.custom-button__right {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  position: absolute;
  width: 0%;
  height: 100%;
  right: 0;
  opacity: 0;
  border-width: 1px;
  border-style: solid;
  border-left: none;
  border-color: #fff;
  animation-name: hover_animation_out_right;
  animation-duration: 0.7s;
}

.custom-button:hover > .custom-button__left {
  animation: hover_animation_left linear 0.4s forwards;
}

.custom-button:hover > .custom-button__right {
  animation: hover_animation_right linear 0.4s forwards;
}

@keyframes hover_animation_left {
  from {
    width: 0%;
    opacity: 0;
  }
  to {
    width: 50%;
    opacity: 1;
  }
}

@keyframes hover_animation_right {
  from {
    width: 0%;
    opacity: 0;
  }
  to {
    width: 50%;
    opacity: 1;
  }
}

@keyframes hover_animation_out_left {
  from {
    width: 50%;
    opacity: 1;
  }
  to {
    width: 0%;
    opacity: 0;
  }
}

@keyframes hover_animation_out_right {
  from {
    width: 50%;
    opacity: 1;
  }
  to {
    width: 0%;
    opacity: 0;
  }
}

.custom-button-reverse {
  border-radius: 30px;
  padding: 15px 32px;
  position: relative;
  cursor: pointer;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  overflow: hidden;
  display: flex;
  align-items: center;
  transition: all 0.4s ease-in-out;
}

.custom-button-reverse__left {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  position: absolute;
  width: 50%;
  height: 100%;
  left: 0;
  opacity: 1;
  border-width: 1px;
  border-style: solid;
  border-right: none;
  border-color: rgba(168, 239, 255, 0.3);
  animation-name: hover_animation_out_left_reverse;
  animation-duration: 0.7s;
}

.custom-button-reverse__right {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  position: absolute;
  width: 50%;
  height: 100%;
  right: 0;
  opacity: 1;
  border-width: 1px;
  border-style: solid;
  border-left: none;
  border-color: rgba(168, 239, 255, 0.3);
  animation-name: hover_animation_out_right_reverse;
  animation-duration: 0.7s;
}

.custom-button-reverse:hover {
  border-left: 1px solid rgba(168, 239, 255, 0.3);
  border-right: 1px solid rgba(168, 239, 255, 0.3);
}

.custom-button-reverse:hover > .custom-button-reverse__left {
  animation: hover_animation_left_reverse linear 0.4s forwards;
}

.custom-button-reverse:hover > .custom-button-reverse__right {
  animation: hover_animation_right_reverse linear 0.4s forwards;
}

@keyframes hover_animation_left_reverse {
  from {
    width: 50%;
    opacity: 1;
  }
  50% {
    border-color: #fff;
  }
  to {
    width: 0%;
    opacity: 0;
    border-color: #fff;
  }
}

@keyframes hover_animation_right_reverse {
  from {
    width: 50%;
    opacity: 1;
  }
  50% {
    border-color: #fff;
  }
  to {
    width: 0%;
    opacity: 0;
    border-color: #fff;
  }
}

@keyframes hover_animation_out_left_reverse {
  from {
    width: 0%;
    opacity: 0;
  }
  50% {
    border-color: #fff;
  }
  to {
    width: 50%;
    opacity: 1;
  }
}

@keyframes hover_animation_out_right_reverse {
  from {
    width: 0%;
    opacity: 0;
  }
  50% {
    border-color: #fff;
  }
  to {
    width: 50%;
    opacity: 1;
  }
}
